body{
     padding: 0;
     margin:0;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(134, 24, 24);
     font-family: sans-serif;
     font-weight: 700;

}
.banner-1{
     display: grid;
     grid-template-columns: 2fr 1fr;
     
}
.sub-item{
     margin-top: 32px;
}
.banner-2{
     display: flex;
     flex-direction: column;
}
sub.item-banner-2{
     display: flex;
     align-self: start;
}
.item-banner-2{
     display: grid;
     grid-template-columns: auto;
}
button{
     border-radius: 4px;
     grid-template-rows: auto;     
}
button:hover{
     cursor:pointer;
     transition: .4s;
     background-color: green;
     color: white;
}